{% load staticfiles %}
{% load bootstrap_pagination %}
{% load i18n %}
{% load get_attr %}
{% load url_add_query %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>产品搜索</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/tree.css' %}">
    <link href="{% static 'css/non-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/page2.css' %}" rel="stylesheet">
    <!--<link href="{% static 'select2/3.4.5/select2.css' %}" rel="stylesheet"> -->
    <link href="{% static 'jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Typeahead css -->
    <style>
        ul.ui-autocomplete {
            background-color: white;
            border: solid 1px rgb(66, 139, 202);
        }
        em,
        em.category{
            font-weight: bold;
            background-color: yellow;
        }

        /*.ui-menu-item a:hover {
            background-color: grey;
        }*/
        .ui-state-focus {
            background-color: #CCCCCC;
        }
    </style>

      </head>

  <body class="page2_1">

    <div class="navbar navbar-inverse navbar-fixed-top legend-shadow" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:white">产品搜索</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#">欢迎！username</a></li>
            <li><a href="#">进入个人中心</a></li>
            <li><a href="#">帮助与反馈</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="row upper">

        <!-- logo block -->

        <div class="col-xs-3 legend-header-resource legend-tree-enable">
          <div class="row">
            <div class="col-xs-12" style="color: white;background-color:#50a4d0;height:90px; font-size: 150%; text-align: center;padding-top: 20px;">
              <!--全部资源<br>
              <i class="legend-header-tree-arrow fa fa-chevron-down"></i>
              <span>-->
            </div>
          </div>

          <div class="row tree">

          </div>


        </div>

        <!-- search block -->

        <div class="col-xs-9 legend-header-search" style="height:90px; background-color: white">
          <form id="form-query" action="{% url 'main_app_v_index' %}" method="GET">
          <div class="row legend-search" style="padding-top: 15px">
            <div class="col-xs-2 btn-group pull-left">
              <button type="button" class="btn btn-default">全部</button>
              <button type="button" class="btn btn-default btn-warning dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">分类1</a></li>
                <li><a href="#">分类2</a></li>
                <li><a href="#">分类3</a></li>
                <li class="divider"></li>
                <li><a href="#">分类4</a></li>
              </ul>
            </div>

            <div class="col-xs-6 input-group pull-left">
              <input type="text" class="form-control" id="query-input" name="q" value="{{ query_str }}">
              <input type="hidden" id="query-cat" name="cat" value="">
              <span class="input-group-btn">
                <button class="btn btn-default btn-warning" type="submit">搜索</button>
              </span>
            </div><!-- /input-group -->

            <!--
            <div class="col-xs-2 btn-group pull-left">
              <button type="button" class="btn btn-default btn-success">高级搜索</button>
            </div> -->

          </div>
          </form>


          <div class="legend-search-hot row" style="padding-top:10px">

            <div class="col-xs-9">
              热点字：
              <a class="btn btn-xs">文字       </a>
              <a class="btn btn-xs">艺术       </a>
              <a class="btn btn-xs">浮士德     </a>
              <a class="btn btn-xs">英语       </a>
              <a class="btn btn-xs">卫星       </a>
              <a class="btn btn-xs">虫洞       </a>
              <a class="btn btn-xs">超马玄理论  </a>
              <a class="btn btn-xs">诺贝尔      </a>
              <a class="btn btn-xs">MORE      </a>
            </div>

          </div> <!-- /.legend-search-hot -->

        </div>

      </div>

      <div class="row legend-breadcrumbs">
        <ol class="breadcrumb">
          <li class="glyphicon"><a href="{% url 'main_app_v_index' %}">首页</a></li>
          {% for breadcrumb in breadcrumbs %}
          <li class="glyphicon {% if breadcrumb.active %}active{% endif %}"><a href="{% url 'main_app_v_index' %}{% if breadcrumb.category.id %}?cat={{ breadcrumb.category.id }}{% endif %}">{{ breadcrumb.category.name }}</a></li>
          {% endfor %}
        </ol>
      </div>

      <div class="row bottom" style="height: auto">
        <div class="col-xs-3 legend-panel-left-dump" style="min-height: 600px">


          <div class="row tree">

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <!--<div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">

        <h4 class="panel-title">
            <i class="fa fa-chevron-right"></i>{{ child.name }}
        </h4>
      </a>

    </div> -->
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="list-unstyled">
            {% for sub_category in sub_categories_list %}
          <li><a href="{% url_add_query cat=sub_category.0 %}"><i class="fa fa-chevron-right"></i> {{ sub_category.1 }}[{{ sub_category.2 }}]</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>

          </div>

        </div>

        <div class="col-xs-9 legend-panel-right" style="min-height: 600px">
        {% if page %}
          <div class="row legend-search-result legend-nav">

          <!-- RESULT ORDERS AND VIEWS -->
            <!-- latest upload/index/reco/result/count/views -->

            <span class="legend-index-item latest pull-left"><a href="{% if op == "u" %}{% url_add_query op="d" %}{% elif op == "d" %}{% url_add_query op="" %}{% else %}{% url_add_query op="u" %}{% endif %}">价格排序{% if op == "u" %}↑{% elif op == "d" %}↓{% else %}{% endif %}</a></span>
            <!--<span class="legend-index-item latest pull-left">最新排行</span>
            <span class="legend-index-item latest pull-left">最新推荐</span>
            <span class="legend-index-item latest pull-left">搜索结果</span> -->

            <span class="legend-view-item pull-right"><a data-type="text"><i class="fa fa-align-justify" title="文字"></i></a></span>
            <span class="legend-view-item pull-right"><a data-type="thumbtext" ><i class="fa fa-th-list"       title="图文"></i></a></span>
            <span class="legend-view-item pull-right"><a data-type="thumb" class="active"><i class="fa fa-th-large"      title="图片"></i></a></span>
            <span class="legend-view-item pull-right">共{{ page.paginator.count }}条</span>

          <!-- /RESULT ORDERS AND VIEWS -->
          </div>

          <div class="row legend-search-result-items legend-view legend-view-thumb" style="">

            {% bootstrap_paginate page range=10 url_param_name="p" show_first_last="true" %}
            <div style="clear: both"></div>
            {% for item in page %}
            <div class="legend-resource-item pull-left">
              <img class="thumbnail" src="{{ item.image_link }}"></img>
              <div class="info" style="text-align:center; margin:0px; ">
               {% if not item.available %}<span style="color: red;">[缺货]</span>{% endif %}
                <a href="{{ item.item_link }}">{% if item|obj_get:"_highlight" %}{{ item|obj_get:"_highlight"|dict_get:"item_name_standard_analyzed"|list_get:0|safe}}{% else %}{{ item.item_name_standard_analyzed }}{% endif %}</a>
                <br>
                ￥{{ item.price }} 
                {% if item.price != item.market_price %}
                <del style="text-decoration: line-through;">{{ item.market_price }}</del>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            <div style="clear: both"></div>
            {% bootstrap_paginate page range=10 url_param_name="p" show_first_last="true" %}         

          </div>

          <div class="row legend-search-result-items legend-view legend-view-thumbtext hidden">

            <div class="legend-resource-item ">
              <div class="item-thumbnail-info pull-left">
                <img class="thumbnail" src="statics/images/thumb.png"></img>
                <div class="info" style="text-align:center; margin:0px; ">
                  魔戒三部曲
                </div>
              </div>

              <div class="item-detail-info pull-left">
something
              </div>


              <div class="item-buttons pull-right">

                <a class="btn btn-default btn-xs">播放</a>
                <a class="btn btn-default btn-xs">下载</a>
                <a class="btn btn-default btn-xs">收藏</a>
                <a class="btn btn-default btn-xs">剪辑</a>
                <a class="btn btn-default btn-xs">附件</a>
                <a class="btn btn-default btn-xs">反馈</a>

              </div>
            </div>

            <div class="legend-resource-item ">
              <div class="item-thumbnail-info pull-left">
                <img class="thumbnail" src="statics/images/thumb.png"></img>
                <div class="info" style="text-align:center; margin:0px; ">
                  魔戒三部曲
                </div>
              </div>

              <div class="item-detail-info pull-left">
something
              </div>

              <div class="item-buttons pull-right">

                <a class="btn btn-default btn-xs">播放</a>
                <a class="btn btn-default btn-xs">下载</a>
                <a class="btn btn-default btn-xs">收藏</a>
                <a class="btn btn-default btn-xs">剪辑</a>
                <a class="btn btn-default btn-xs">附件</a>
                <a class="btn btn-default btn-xs">反馈</a>

              </div>
            </div>

            <div class="legend-resource-item ">
              <div class="item-thumbnail-info pull-left">
                <img class="thumbnail" src="statics/images/thumb.png"></img>
                <div class="info" style="text-align:center; margin:0px; ">
                  魔戒三部曲
                </div>
              </div>

              <div class="item-detail-info pull-left">
something
              </div>

              <div class="item-buttons pull-right">

                <a class="btn btn-default btn-xs">播放</a>
                <a class="btn btn-default btn-xs">下载</a>
                <a class="btn btn-default btn-xs">收藏</a>
                <a class="btn btn-default btn-xs">剪辑</a>
                <a class="btn btn-default btn-xs">附件</a>
                <a class="btn btn-default btn-xs">反馈</a>

              </div>
            </div>


          </div>

          <div class="row legend-search-result-items legend-view legend-view-text hidden">

            <div class="legend-resource-item ">
              test
            </div>

            <div class="legend-resource-item ">
              test
            </div>

            <div class="legend-resource-item ">
              test
            </div>

          </div>

        </div> <!-- /.lengen-panel-right -->
     {% endif %}
      </div>


    </div><!-- /.container -->


    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container-footer"  style="color: white; background: black; height: 100px;">
      <div class="container marketing">

        <!-- FOOTER -->
        <footer style="padding: 20px">
          <p class="text-center">&copy; 2014 All Rights Reserved.</p>
        </footer>

      </div><!-- /.container -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'select2/3.4.5/select2.min.js' %}"></script> -->

    <script src="{% static 'js/tree.js' %}"></script>
    <script src="{% static 'js/page2.js' %}"></script>

    <script>
        // refs: http://stackoverflow.com/questions/21385892/jquery-ui-autocomplete-ajax-example
        // refs: http://jqueryui.com/autocomplete/
        $("#query-input").autocomplete({
            source: function(request, response) {
                $.getJSON("{% url 'main_app_v_ajax_auto_complete_term' %}", {term: request.term},
                      function(data) {
                          //console.log(data);
                          response(data);
                      })},
            /*focus: function(event, ui) {
                //console.log(ui);
                //$("#query-input").val(ui.item.label);
                return false;
            },*/
            select: function(event, ui) {
                console.log("Selected: " + "type:" + ui.item.type + ":" + ui.item.value);
                if (ui.item.type == "category") {
                    $("#query-cat").val(ui.item.category_id);
                }
                $("#form-query").submit();
                return false;
            },
            minLength: 1
        })
        .data("ui-autocomplete")._renderItem = function(ul, item) {
            return $("<li>")
                   .append("<a>" + item.label + "<span style='float: right;'>结果数：" + item.count + "个</span></a>")
                   .appendTo(ul);
        };
    </script>

  </body>
</html>
